{{ block "greeting" .}}
<div>
	<h1>twoslashes signifies a comment.</h1>
	<p>
		And since Nick Tabick beat me to the dot com, I've gotta settle for dot
		dev. Anyways, I'm a software engineer. I've used titles like "FullStack"
		and "Web Dev", but that's very limiting and I'm much more capable than
		that lowly shit.
	</p>
	<p>
		I can write web applications in Vue, React, Next.js, and Vanilla
		Javascript if fed properly. That's weaksauce, though.
	</p>
	<p>
		I believe the future of development will shift into a Go/HTMX stack. If
		it doesn't, I'll be extremely pissed off as I've spent a lot of time
		learning Go and HTMX. Easy as you think they might be, remember I am a
		Javascript developer.
	</p>
	<p>
		Yes, I cracked HTMX 2.0. You can find keys here on the site. Now leave
		me alone.
	</p>
</div>
{{ end }}
