{{ block "htmx" .}}
<div>
    <p class="note">These keys <span class="underline">will not work</span> in the 2.1 patch. Please refrain from updating to the 2.1 patch until this has been addressed. --Thank you.</p>
    <img src="https://pbs.twimg.com/media/GPmuts7bMAAN1Jx?format=jpg&name=large" class="htmx-img" />
	<p><strong>htmx 2.0 gm and 2.5 beta key</strong></p>
    <p>
        This key will work in both the 2.0 GM floppy from Big Sky Software as well as the circulated (and well seeded) torrent. The 2.5 beta uses the same validation protocol, so it works there as well. Keep talking, Warren.
    </p>
	<p>
        <pre>{{ .Key }}</pre>
    </p>
</div>
{{ end }}
